main.dad-dashboard{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dad-dashboard section{
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  padding: 2rem;
}

tbody{
  min-height: 5rem;
  min-width: 10rem;
  border:1px solid red;
  display:inline-table;
}
tbody{
  border: 1px solid red;
  background-color:orangered;
  transition: padding-bottom 0.3s;
}
tbody:hover{
  padding-bottom: 2rem;
}